In [2]:
import pandas as pd
import numpy as np

In [32]:
# Normal Random Distribution: np.random.normal(mean, stdev, count)

In [33]:
# new thoughts on 6/15 mean to show more weight on vartiables with greater variance
# given variable 1-5: means are -4 -2 0 2 4, 
                    # std are 0.7071 (var 0.5) | 2 (var 1.414) | 2.828 (var 8) | 2 (var 1.414) | 0.7071 (var 0.5), 
                    # true_scores_10k based on these permutations, 
                    # let error be consistent across with mean of 0 and std of 2, 
                    # observed equals true+error 
# descriptive statistics for each ts and os column
# show correlation matrix between the ts and os per variable
# stacked 5 columns into single ts_dataframe and os_dataframe
# descriptive statistics for ts and os stack
# correlation between ts and os stack

In [34]:
# creates true scores, errors, and observed scores based on means, std, and count specified above for variable 1
ts1 = np.random.normal(-4, np.sqrt(0.5), 10000)
es1 = np.random.normal(0, 2, 10000)
os1 = ts1+es1

In [35]:
# creates true scores, errors, and observed scores based on means, std, and count specified above for variable 2
ts2 = np.random.normal(-2, 2, 10000)
es2 = np.random.normal(0, 2, 10000)
os2 = ts2+es2

In [36]:
# creates true scores, errors, and observed scores based on means, std, and count specified above for variable 3
ts3 = np.random.normal(0, np.sqrt(8), 10000)
es3 = np.random.normal(0, 2, 10000)
os3 = ts3+es3

In [37]:
# creates true scores, errors, and observed scores based on means, std, and count specified above for variable 4
ts4 = np.random.normal(2, 2, 10000)
es4 = np.random.normal(0, 2, 10000)
os4 = ts4+es4

In [38]:
# creates true scores, errors, and observed scores based on means, std, and count specified above for variable 5
ts5 = np.random.normal(4, np.sqrt(0.5), 10000)
es5 = np.random.normal(0, 2, 10000)
os5 = ts5+es5

In [39]:
# summary stats of ts by variable
ts_dataframe.describe()

                  0             1             2             3             4
count  10000.000000  10000.000000  10000.000000  10000.000000  10000.000000
mean      -4.000335     -2.004184     -0.035892      2.002290      3.991756
std        0.694089      2.014622      2.844494      1.997462      0.710619
min       -6.904614     -9.462523    -11.562159     -5.825514      1.355144
25%       -4.460394     -3.364862     -1.928682      0.649150      3.505030
50%       -3.999708     -2.002874     -0.077203      2.015365      3.993993
75%       -3.530089     -0.634464      1.924530      3.353428      4.468209
max       -1.524884      5.867158     10.942903      8.738468      6.761409

In [40]:
# summary stats of os by variable
os_dataframe.describe()

                  0             1             2             3             4
count  10000.000000  10000.000000  10000.000000  10000.000000  10000.000000
mean      -4.016117     -2.006134     -0.026342      1.990562      4.008709
std        2.100390      2.820864      3.473449      2.803260      2.132535
min      -12.071454    -12.171747    -13.650378     -8.189942     -4.792536
25%       -5.425277     -3.882151     -2.338081      0.139115      2.564587
50%       -4.016166     -1.989367     -0.077255      2.005228      4.011041
75%       -2.602550     -0.113594      2.274489      3.864798      5.431799
max        4.253384      8.607262     12.853341     12.791632     11.708943

In [41]:
# correlate ts to os per variable 
ts_dataframe.corrwith(os_dataframe)

0    0.329930
1    0.700883
2    0.818591
3    0.714379
4    0.321517
dtype: float64

In [42]:
# stack the ts and os columns into single dataframes of 50,000 rows
ts_dataframe = pd.DataFrame([ts1, ts2, ts3, ts4, ts5]).T
ts_stack = ts_dataframe.stack()
ts_stacked_df = ts_stack.to_frame(name='ts_stack')
ts_stacked_df.reset_index(drop=True, inplace=True)

os_dataframe = pd.DataFrame([os1, os2, os3, os4, os5]).T
os_stack = os_dataframe.stack()
os_stacked_df = os_stack.to_frame(name='os_stack')
os_stacked_df.reset_index(drop=True, inplace=True)

In [43]:
# summary stats of ts stack
ts_stacked_df.describe()

           ts_stack
count  50000.000000
mean      -0.022986
std        3.376670
min      -10.431709
25%       -3.274961
50%       -0.031556
75%        3.233312
max       11.587214

In [44]:
# summary stats of os stack
os_stacked_df.describe()

           os_stack
count  50000.000000
mean      -0.026978
std        3.914985
min      -13.252757
25%       -3.070064
50%       -0.023411
75%        3.053989
max       13.500474

In [45]:
# correlate ts stack to os stack
ts_stacked_df['ts_stack'].corr(os_stacked_df['os_stack'])

0.8595335086180901